

@media (max-width: 640px) {

    .pic-container{
        width: 100vw;
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;}
    
    .pic-container__images{

        width: 80vw;
        padding: 10px 0;
        border-radius: 30px;
    }
    
  }

  @media (min-width: 640px) {
    .pic-container{
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    .pic-container__images{
        width: 30vw;
        padding: 10px 0;
        border-radius: 30px;
    }
    
  }